{% extends 'base.html' %}
{% block content %}
  <div class="top">
      <h2 class="title">쿠오븐 공략 게시판</h2>
      <h4 class="subtitle">쿠키런 오븐브레이크에 대한 팁을 남기고 소통할 수 있습니다.</h4>
  </div>
  <div class="bottom">
    {% if board_list %}
        {% for i in board_list %}
            <a href="/board/{{ i.id }}/" class="bottom_block">
              <div class="bottom_block_id">{{ i.id|stringformat:"03d" }}</div>
              <div class="bottom_block_title">{{ i.subject }}</div>
              <div class="bottom_block_view">조회수 {{ i.view }}</div>
              <div class="bottom_block_date">{{ i.create_date|date:"Y-m-d H:i" }}</div>
            </a>
        {% endfor %}
    {% endif %}
  </div>
  {% if user.is_authenticated %}
    <a href="/board/create" class="fiz">
      <div class="write">
      </div>
    </a>
    {% else %}
    {% endif %}
{% endblock %}